<h1>Your Cart</h1>

<% if @cart.order_items.any? %>
  <ul>
    <% @cart.order_items.each do |item| %>
      <li>
        <%= item.product.name %> - Quantity: <%= item.quantity %>
        <%= button_to 'Remove One', remove_from_cart_order_path(@cart, product_id: item.product.id), method: :delete %>
      </li>
    <% end %>
  </ul>
  <%= button_to 'Place Order', place_order_order_path(@cart), method: :patch, class: 'btn btn-primary' %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
