<h1>Thank you for your order!</h1>
<p>Order ID: <%= order&.id %></p>
<p>You ordered:</p>
<ul>
  <% order&.order_items&.each do |item| %>
    <% if item.product.present? %>
      <li><%= item.product.name %> - Quantity: <%= item.quantity %></li>
    <% else %>
      <li>Product not found</li>
    <% end %>
  <% end %>
</ul>
<p>Total: $<%= order&.amount %></p>
<p>We will notify you when your order is shipped.</p>
