<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="bg-white shadow-xl rounded-lg w-full max-w-3xl p-6 lg:p-8">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Edit Product</h1>

    <%= render 'form', form_url: sellers_product_path(@product), form_method: :patch, submit_text: "Update Product" %>
  </div>
</div>
